* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.resume1{
    border: 155px solid white;

    padding: 60px;
    margin: 20px;
    border-radius: 50px;

}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    overflow-x: none;

}

.container {
    width: 60%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

header p {
    font-size: 14px;
    color: #333;
}

section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

section p {
    font-size: 16px;
    margin-bottom: 10px;
}

footer{
    text-align: center;
    font-size: 14px;
}